body {
    margin: 0;
    font-family: 'BentonSans Principal', sans-serif;                                                
    text-align: center;
    background-color: #b695c0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff5a5f;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a.active {
    color: #ff5a5f;
    font-weight: bold;
}

.hero {
    background: linear-gradient(to right, #b695c0 70%, rgba(0, 0, 0, 0) 100%), url('/img/living.jpg') center/cover no-repeat;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    text-align: left;
    padding-left: 50px;
}

.overlay {
    padding: 20px;
    max-width: 600px;
}

.hero h1 span {
    font-weight: bold;
}

.video {
    position: relative;
    text-align: center;
}

/*
.video img {
    width: 100%;
    max-width: 600px;
} */

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: orange;
    color: white;
    border-radius: 50%;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
}

.form {
    background: #b695c0;
    padding: 40px 20px;
    justify-content: left;
    width: 100%;
}

.form h2 {
    color: white;
}

.form input, .form button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
}

.form input {
    background: white;
    border-radius: 15px;
    width: 47%;
}

.form button {
    background: #fe4c1c;
    width: 10%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

iframe{
  width: 100%;
  height: 400px;
}

.llaves{
  width: 100%;
  height: 400px;
}

p{
  font-size: 12px;
}

h1{
  font-weight:lighter;
  font-size: 50px;
}

span{
  color: #dbc9df;
  font-weight:bolder;
}

input::placeholder{
  color: #fd6c45;
}

.about{
    color: white;
    font-size: 25px;
    
}

.about p{
  font-size:20px;
}

.form h2{
  font-size: 50px;
}

.info-form{
    width: 50%;
}